[Unit]
Description=Taatta Athom Smart Plug Data Logger
Documentation=https://github.com/MonashSmartCityLivingLab/taatta
Wants=network-online.target
After=network-online.target

[Service]
User=taatta
Group=taatta
ExecStart=java -jar /usr/local/taatta/athom-smart-plug.jar
Restart=on-failure
EnvironmentFile=/etc/taatta.env

[Install]
WantedBy=multi-user.target
Alias=athom-smart-plug.service
