[Unit]
Description=WQM101 Data collector
Documentation=https://github.com/MonashSmartCityLivingLab/taatta
Wants=network-online.target
After=network-online.target

[Service]
User=taatta
Group=taatta
ExecStart=java -jar -Dspring.profiles.active=prod /usr/local/taatta/wqm101.jar
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=wqm101.service