[Unit]
Description=PCR2 Data collector
Documentation=https://www.taatta.net/
Wants=network-online.target
After=network-online.target

[Service]
User=taatta
Group=taatta
ExecStart=java -jar -Dspring.profiles.active=prod /usr/local/taatta/pcr2.jar
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=pcr2.service