[Unit]
Description=Taatta PCR2 Data Logger
Documentation=https://github.com/MonashSmartCityLivingLab/taatta
Wants=network-online.target
After=network-online.target

[Service]
User=taatta
Group=taatta
ExecStart=java -jar -Dspring.profiles.active=prod /usr/local/taatta/pcr2.jar
Restart=on-failure
EnvironmentFile=/etc/taatta.env

[Install]
WantedBy=multi-user.target
Alias=pcr2.service