[Unit]
Description=Taatta RHF1S001 Data Logger
Documentation=https://github.com/MonashSmartCityLivingLab/taatta
Wants=network-online.target
After=network-online.target

[Service]
User=taatta
Group=taatta
ExecStart=java -jar -Dspring.profiles.active=prod /usr/local/taatta/rhf1s001.jar
Restart=on-failure
EnvironmentFile=/etc/taatta.env

[Install]
WantedBy=multi-user.target
Alias=rhf1s001.service
