[Unit]
Description=Taatta Athom Presence Sensor Data Logger
Documentation=https://github.com/MonashSmartCityLivingLab/taatta
Wants=network-online.target
After=network-online.target

[Service]
User=taatta
Group=taatta
ExecStart=java -jar -Dspring.profiles.active=prod /usr/local/taatta/athom-presence-sensor.jar
Restart=on-failure
EnvironmentFile=/etc/taatta.env

[Install]
WantedBy=multi-user.target
Alias=athom-presence-sensor.service
